%link {
  @include block();
  @include size();
  @include color(transparent, $text-inverse-color);
  @include font(400, 14px, 18px);
  @include transition();
  text-decoration: none;
  cursor: pointer;
  letter-spacing: 0.44px;
}

%title {
  @include block(0 0 15px);
  @include font(700, 12px, 14px);
  color: $text-color;
  letter-spacing: 0.44px;
}

%label-title {
  @include block();
  @include size(50%);
  @include font(400, 12px, 13px);
  @include transition();
  letter-spacing: 0.1px;
  color: $placeholder-text-color;
  position: absolute;
  left: 17px; top: 5px; right: auto; bottom: auto; z-index: 1;
  transform: translateY(-5px);
  opacity: 0;
  &.on-focus {
    transform: translateY(0);
    opacity: 1;
  }
  &.active {
    color: $primary-color-focus;
  }
}

%invalid-message {

}

%input-standard {
  @include block(0 auto, 0 16px, flex);
  @include size(100%, 48px);
  @include flex(row, flex-start, center);
  @include color($bg-01-color, $text-01-color);
  @include font(400, 16px, 16px);
  @include transition();
  letter-spacing: 0.44px;
  border: 1px solid $border-01-color;
  border-radius: 6px;
  outline: none;
  &:hover {
    border: 1px solid $focus-color;
  }
  &:focus {
    border: 1px solid $focus-color;
    box-shadow: $focus-shadow;

  }
  &.on-focus {
    padding: 22px 40px 8px 16px;
  }
  &::placeholder {
    color: $placeholder-text-color;
  }
  &+.invalid-message {
    @include block(8px 0, 0 16px);
    @include size();
    @include font(400, 12px,14px);
    @include transition();
    letter-spacing: 0.4px;
    color: $alert-color;
    opacity: 0;
  }
  &.invalid {
    border: 1px solid $alert-color;
  }
  &.invalid+.invalid-message {
    opacity: 1;
  }
  &.confirmed {
    border: 1px solid $confirm-color;
  }
}

%btn-standard {
  @include block(0,10px 12px,flex);
  @include flex(row, center, center);
  @include size(144px, 42px);
  @include font(700, 12px, 22px);
  @include color($primary-color, $text-inverse-color);
  @include transition();
  transform: translateY(0);
  box-shadow: $none-shadow;
  letter-spacing: 0.1px;
  text-align: center;
  border-radius: 6px;
  outline: none;
  text-decoration: none;
  cursor: pointer;
  border: none;
  &:hover {
    box-shadow: $box-shadow-01;
    transform: translateY(0);
    background: $ui-03-color;
  }
  &:active {
    @include transition(all, 40ms, ease);
    background: $primary-color;
    box-shadow: inset $box-shadow-01;
    transform: translateY(0);
  }
  &:disabled {
    cursor: not-allowed;
    @include color( $placeholder-text-color, $ui-02-color);
    box-shadow: $none-shadow;
  }
}
