@mixin block($margin: 0, $padding: 0, $display: block) {
  display: $display;
  margin: $margin;
  padding: $padding;
  box-sizing: border-box;
}

@mixin flex($direction: row, $justify-content: flex-start, $align-items: flex-start) {
  flex-direction: $direction;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin grid($template-columns: 1fr, $column-gap: 0, $row-gap: 0) {
  grid-template-columns: $template-columns;
  grid-column-gap: $column-gap;
  grid-row-gap: $row-gap;
}

@mixin size($width: 100%, $height: auto) {
  width: $width;
  height: $height;
}

@mixin color($bg-color: #fff, $color: #333) {
  background: $bg-color;
  color: $color;
}

@mixin transition($property: all, $time: .16s, $type: ease) {
  transition: $property $time $type;
  -webkit-transition: $property $time $type;
  -moz-transition: $property $time $type;
}

@mixin font($weight: 400, $size: 16px, $line-height: 20px, $family: 'Roboto', $font-style: normal) {
  font-family: $family, sans-serif;
  font-weight: $weight;
  font-size: $size;
  line-height: $line-height;
  font-style: $font-style;
}

@mixin circle($size: auto) {
  width: $size;
  height: $size;
  border-radius: 50%;
}

@mixin user-select($select: none) {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

$prefix:'-moz-', '-webkit-', '-o-', '-ms-', '';
// ********************
// fadeIn
// ********************
@mixin keyframe-fadeIn {
  0%   { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes fadeIn {
  @include keyframe-fadeIn;
}
@-webkit-keyframes fadeIn {
  @include keyframe-fadeIn;
}
@-o-keyframes fadeIn {
  @include keyframe-fadeIn;
}
@-ms-keyframes fadeIn {
  @include keyframe-fadeIn;
}
@keyframes fadeIn {
  @include keyframe-fadeIn;
}
@mixin fadeIn( $arg ) {
  $keyframe-name:fadeIn;
  $duration:$arg;
  @each $p in $prefix {
    #{$p}animation:$keyframe-name $duration;
  }
}
