.link {
  @extend %link;
}

.title {
  @extend %title;
}

.btn-standard {
  @extend %btn-standard;
}

.input-standard {
  @extend %input-standard;
}

.label-title {
  @extend %label-title;
}

.invalid-message {
  //@extend %invalid-message;
}

.loader-circle {
  &.active {
    opacity: 1;
  }
  @include transition();
  @include size(25px,25px);
  opacity: 0;
  .lds-roller {
    @include size(100%, 100%);
    display: inline-block;
    position: relative;
    transform: scale(0.4);
  }
  .lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
  }
  .lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: $primary-color;
    margin: -4px 0 0 -4px;
  }
  .lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
  }
  .lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
  }
  .lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
  }
  .lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
  }
  .lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
  }
  .lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
  }
  .lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
  }
  .lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
  }
  .lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
  }
  .lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
  }
  .lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
  }
  .lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
  }
  .lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
  }
  .lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
  }
  .lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
  }
  .lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
  }
  @keyframes lds-roller {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

.module-window {
  @include block(0, 25px);
  @include color($bg-01-color, $text-color);
  @include size();
  @include font(700, 12px, 14px);
  box-shadow: $box-shadow-01;
  border-radius: 2px;
}

// Dropdown List
.dropdown-list {
  @include block();
  @include size(100%, 48px);
  min-width: 234px;
  max-width: 354px;
  min-height: 48px;
  border-radius: 6px;
  // Head
  &__head {
    @include block(0 auto, 9px 9px 7px 16px, flex);
    @include flex(row, space-between, center);
    @include size(100%, 100%);
    @include color($bg-01-color, $text-01-color);
    border: 1px solid $border-01-color;
    border-radius: 6px;
    cursor: pointer;
    // title
    .dropdown-title {
      &__label {
        @include block();
        @include font(400, 10px, 12px);
        letter-spacing: 0.1px;
        color: $placeholder-text-color;
        position: relative;
        bottom: 3px;
      }
      &__value {
        @include block();
        @include font(400, 16px, 18px);
        letter-spacing: 0.44px;
        color: $text-01-color;
      }
    }
    // arrow
    .dropdown-arrow {
      @include block();
      @include size(32px, 32px);
      @include transition();
      transform: rotate(0);
    }
    &:hover {
      border: 1px solid $focus-color;
    }
  }
  // Body
  &__body {
    display: none;
  }
}
// Open Dropdown List
.dropdown-list.is-open {
  position: relative;
  // Head
  .dropdown-list__head {
    border: 1px solid $placeholder-text-color;
    border-bottom: none;
    box-sizing: border-box;
    border-radius: 6px 6px 0 0;
    // arrow
    .dropdown-arrow {
      transform: rotate(180deg);
    }
  }
  // Body
  .dropdown-list__body {
    position: absolute;
    left: 0; right: 0; top: 100%; bottom: auto; z-index: 5;
    @include block(0 auto);
    @include size();
    @include color($bg-01-color, $text-01-color);
    border-radius: 0 0 6px 6px;
    border: 1px solid $placeholder-text-color;
    border-top: none;
    overflow: hidden;
    .drop-menu {
      border-radius: 0 0 6px 6px;
      max-height: 360px;
      overflow-y: auto;
      &::-webkit-scrollbar-track {border-radius: 4px; background: $ui-01-color;}
      &::-webkit-scrollbar {width: 6px;}
      &::-webkit-scrollbar-thumb {border-radius: 4px;background: $primary-color;}
      &:hover::-webkit-scrollbar-thumb {background: $primary-color;}
      &__item {
        @include block(0 auto, 8px 16px);
        @include font(400, 16px,32px);
        @include size();
        @include color($bg-01-color, $text-01-color);
        @include transition(all, 100ms);
        cursor: pointer;
        &:hover {
          background: $ui-01-color;
        }
      }
    }
  }
}


.password-icon {
  position: absolute;
  right: 16px; top: 15px; bottom: auto; left: auto; z-index: 1;
  cursor: pointer;
  &-svg {
    @include block();
    @include size(18px, 18px);
    @include transition();
    fill: none;
    .path-first {
      fill: $border-01-color;
    }
    .path-second {
      fill: $border-01-color;
    }
  }
  &.active {
    .password-icon-svg {
      .path-first {
        fill: $confirm-color;
      }
      .path-second {
        fill: $confirm-color;
      }
    }
  }
}

.site-content {
  display: grid;
  min-height: 100vh;
  grid-template-columns: 22.5% 77.5%;
  @import "../components/sidebar";
  @import "../components/main";
}

.pop-up-blur {
  &.active {
    display: block;
    animation: fadeInBlur 200ms linear forwards 200ms;
  }
  display: none;
  position: fixed;
  left: 0; top: 0;
  right: 0; bottom: 0; z-index: 100;
  background: rgba(0,0,0,.5);
  opacity: 0;
}

.pop-up-window {
  &.active {
    display: block;
    animation: fadeInWindow 100ms linear 500ms forwards;
  }
  @include block(0 auto, 24px, none);
  @include size();
  @include color($bg-01-color, $text-01-color);
  max-width: 400px;
  box-shadow: $box-shadow-01;
  border-radius: 6px;
  position: fixed;
  left: 50%; top: 30%;
  right: auto; bottom: auto; z-index: 110;
  transform: translate(-50%, -50%) scale(0);

  &-close {
    @include transition();
    cursor: pointer;
    outline: none;
    box-shadow: none;
    background: transparent;
    border: none;
    position: absolute;
    right: 16px;
    top: 16px;
    svg {
      @include block();
      @include size(32px,30px);
      path {
        stroke: $text-02-color;
      }
    }
    &:hover {
      svg {
        path {
          stroke: $text-01-color;
        }
      }
    }
  }
  &__title {
    @include block(0 auto, 24px);
    @include font(700, 16px, 26px);
    letter-spacing: 0.44px;
    color: $text-01-color;
    text-align: center;
  }
  &__buttons {
    @include block(0 auto, 0, flex);
    @include flex(row, center, center);
    .btn {
      @include block(0 auto, 0, flex);
      @include flex(row, center, center);
      @include size(144px, 42px);
      @include font(700, 12px, 14px);
      @include color($focus-color, $text-inverse-color);
      letter-spacing: 0.1px;
      text-align: center;
      outline: none;
      border-radius: 6px;
      cursor: pointer;
      border: none;
      &-yes {
        &:hover {
          background: $ui-03-color;
        }
        &:active {
          background: $focus-color;
        }
      }
      &-no {
        background: $alert-color;
        &:hover {
          background: rgb(245, 53, 81);
        }
        &:active {
          background: $alert-color;
        }
      }
    }
  }
}

@keyframes fadeInBlur {
  from {
    opacity: 0;
    transform: scale(1);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fadeInWindow {
  from {
    opacity: 0;
    transform: translate(-50%, -50%) scale(1);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}
