$bg-01-color:             #FFFFFF;
$bg-02-color:             #EFF3FA;
$bg-03-color:             #F5F6FA;
$primary-color:           #2979FF;
$primary-color-focus:     #2264D1;
$secondary-color:         #FF594F;

$ui-01-color:             #EBF2FF;
$ui-02-color:             #F0F0F1;
$ui-03-color:             #406DB8;

$text-inverse-color:      #FFFFFF;
$text-color:              #000000;
$text-01-color:           #19191D;
$text-02-color:           #B9B9BE;
$text-03-color:           #646464;
$text-04-color:           #C2C5CF;

$placeholder-text-color:  #787885;
$border-01-color:         #B4B4BB;
$border-02-color:         #E6E6E6;
$border-03-color:         #F2F2F2;
$label-color:             #BEBEBE;
$drop-menu-color:  #F5F9FF;
$drop-confirmed: #3CC839;

$confirm-color: #43A047;
$disable-color: #B4B4BB;
$alert-color: #FF594F;

$none-shadow: 3px 4px 14px rgba(0, 0, 0, 0);
$focus-color: #2979FF;
$focus-shadow: 0px 0px 16px rgba(41, 121, 255, 0.24), 0px 0px 4px rgba(41, 121, 255, 0.48);
$focus-inset-shadow: inset 0px 0px 16px rgba(41, 121, 255, 0.24), inset 0px 0px 4px rgba(41, 121, 255, 0.48);

$box-shadow-01: -3px 4px 14px rgba(0, 0, 0, 0.07);
