@import "utils/variables";
@import "utils/mixins";
@import "utils/extends";
@import "utils/reset";
@import "utils/presets";

.site-authorization {
  @include block();
  @include size(100vw, 100vh);
  @include color($bg-02-color, $text-01-color);
  overflow: hidden;
  min-height: 300px;
  position: relative;

  // Form
  &-form {
    @include block(0 auto, 0 15px);
    @include size();
    max-width: 384px;
    position: absolute;
    left: 50%; top: 40%; right: auto; bottom: auto; z-index: 500;
    transform: translate(-50%, -50%);

    // Title
    &__title {
      @include block(0 auto 20px);
      @include size();
      @include font(700, 22px, 23px);
      color: $text-01-color;
      text-align: center;
      letter-spacing: 0.44px;
    }
    // Label
    .authorization-label {
      @include block(0 auto 20px);
      position: relative;
      &__input {
        &.on-focus {
          padding: 22px 40px 8px 16px;
        }
      }
    }
    &__bottom {
      @include block(0 auto, 0, flex);
      @include flex(row, space-between, center);
      @include size();
      @include transition();
      transform: translateY(-18px);
      // Loader
      .auth-loader {
        position: relative;
        background: transparent;
        bottom: 8px;
      }
      // Forgot Password
      .forgot-pass {
        @include block(0 4px);
        @include font(700, 12px, 14px);
        @include transition();
        letter-spacing: 0.44px;
        color: $text-01-color;
        text-decoration: none;
        cursor: pointer;
        &:hover {
          color: $primary-color;
        }
      }
      &.invalid {
        transform: translateY(-8px);
      }
    }
  }
}
