@import "utils/variables";
@import "utils/mixins";
@import "utils/extends";
@import "utils/reset";
@import "utils/presets";

.pass-reset {
  @include block();
  @include size(100vw, 100vh);
  @include color($bg-02-color, $text-01-color);
  overflow: hidden;
  min-height: 300px;
  position: relative;

  // Form
  &-form {
    @include block(0 auto, 0 15px);
    @include size();
    max-width: 384px;
    position: absolute;
    left: 50%; top: 40%; right: auto; bottom: auto; z-index: 500;
    transform: translate(-50%, -50%);

    // Title
    &__title {
      @include block(0 auto 12px);
      @include size();
      @include font(700, 22px, 23px);
      color: $text-01-color;
      text-align: center;
      letter-spacing: 0.44px;
    }

    // Description
    &__description {
      @include block(0 auto 18px);
      @include font(400, 12px,15px);
      @include size();
      max-width: 250px;
      color: $text-03-color;
      letter-spacing: 0.44px;
      text-align: center;
    }
    // Label
    .pass-reset-label {
      @include block(0 auto 20px);
      position: relative;
      // Label password
      &.pass {
        .icon {
          position: absolute;
          right: 16px; top: 15px; bottom: auto; left: auto; z-index: 1;
          cursor: pointer;
          &-svg {
            @include block();
            @include size(18px, 18px);
            @include transition();
            fill: none;
            .path-first {
              fill: $border-01-color;
            }
            .path-second {
              fill: $border-01-color;
            }
          }
          &.active {
            .icon-svg {
              .path-first {
                fill: $confirm-color;
              }
              .path-second {
                fill: $confirm-color;
              }
            }
          }
        }
      }
      &__input {
        &.on-focus {
          padding: 22px 16px 8px;
        }
      }
    }
    .submit-wrap {
      @include block(0 auto,0,flex);
      @include flex(row, center, center);
      @include size(144px, 42px);
      position: relative;
      .loader-circle {
        position: absolute;
        left: -56px; bottom: 38px; top: auto; right: auto; z-index: 1;
      }
    }
    // Submit
    .btn-submit {
      @include block(0 auto);
      @include transition();
      transform: translateY(-20px);
      &.invalid {
        transform: translateY(-12px);
      }
    }
  }
}
