@import "utils/variables";
@import "utils/mixins";
@import "utils/extends";
@import "utils/reset";
@import "utils/presets";


// Add new posting
.add-new-posting {
  margin-bottom: 35px;
  // Title
  &__title {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid $border-03-color;
  }
  // Form
  &__form {
    // form title
    .form-title {
      @include block(0 0 10px);
      @include font(400, 12px, 14px);
      @include size();
      color: $text-03-color;
      letter-spacing: 0.44px;
    }
    // Form Wrapper
    .form-wrapper {
      @include block(0 auto 20px,0,flex);
      @include flex(row, flex-start, flex-start);
    }
    .form-select {
      margin-right: 20px;
    }
    // Form Label
    .form-label {
      position: relative;
      &.address, &.login {
        @include size(100%,48px);
        min-width: 252px;
        max-width: 354px;
      }
      &.login {
        margin-right: 20px;
      }
    }
    // Form Input
    .form-input {
      @include size(100%, 100%);
      margin-left: 0;
      min-width: 252px;
      max-width: 354px;
      &::placeholder {
        color: $placeholder-text-color;
      }
      &:hover {
        border: 1px solid $focus-color;
      }
      &:focus {
        outline: none;
        box-shadow: $focus-shadow;
        border: 1px solid $primary-color;
      }
    }
    // user-submit-wrap
    .user-submit-wrap {
      @include size(144px,42px);
      @include block();
      position: relative;
      .loader-circle {
        position: absolute;
        right: -36px; top: -2px; bottom: auto; left: auto; z-index: 2;
      }
    }
    .posting-submit-wrap {
      margin-top:4px;
      @include size(144px,42px);
      @include transition();
      position: relative;
      .loader-circle {
        position: absolute;
        right: -28px; bottom: 18px; top: auto; left: auto; z-index: 2;
        opacity: 0;
        &.active {
          opacity: 1;
        }
      }
    }
  }
}
