@import "utils/variables";
@import "utils/mixins";
@import "utils/extends";
@import "utils/reset";
@import "utils/presets";

.project-list {
  // Title
  &__title {
    margin-bottom: 15px;
  }
  // Table
  &__table {
    // Table -- head
    .table-head {
      @include block(0,0 0 0 25px,flex);
      @include flex(row, space-between, center);
      @include color($bg-03-color, $text-04-color);
      min-height: 37px;
      &__item {
        @include block();
        @include font(400, 10px, 12px);
        letter-spacing: 0.44px;
        &:first-child {
          width: 160px;
          margin-right: 14px;
        }
        &:nth-child(2) {
          width: 159px;
          margin-right: 10px;
        }
        &:nth-child(3) {
          width: 161px;
          margin-right: 29px;
        }
        &:nth-child(4) {
          width: 107px;
          margin-right: 52px;
        }
        &:nth-child(5) {
          width: 73px;
          margin-right: 10px;
        }
        &:nth-child(6) {
          width: 82px;
        }
      }
    }
    // Table -- body
    .table-body {
      max-height: 65vh;
      overflow-y: auto;
      &::-webkit-scrollbar-track {border-radius: 4px; background: $ui-01-color;}
      &::-webkit-scrollbar {width: 6px;}
      &::-webkit-scrollbar-thumb {border-radius: 4px;background: $primary-color;}
      &:hover::-webkit-scrollbar-thumb {background: $primary-color;}
      &__item {
        @include block(0, 12px 0 12px 25px, flex);
        @include flex(row, flex-start, center);
        @include size();
        border-bottom: 1px solid $border-02-color;
        min-height: 36px;
        .link {
          @include block(0 14px 0 0, 0, flex);
          @include flex(row, flex-start, center);
          @include size(160px);
          @include font(400, 10px, 12px);
          @include color(transparent, $text-color);
          letter-spacing: 0.44px;
          text-decoration: none;
          cursor: default;
          &__icon {
            @include block(0 0 0 6px);
            @include size(10px, 10px);
            fill: none;
            path {
              fill: $text-02-color;
            }
            &:hover {
              path {
                fill: $primary-color;
              }
            }
          }
          .link__name--value, .link__name--value-href {
            display: none;
          }
          &.on-editing {
            flex-direction: column;
            .link__name {
              display: none;
            }
            .link__href {
              display: none;
            }
            .link__name--value {
              display: block;
              background: $bg-01-color;
              color: $text-01-color;
              border: 1px solid $border-01-color;
              border-radius: 4px;
              margin-bottom: 4px;
              outline: none;
              padding: 2px;
              @include size(160px);
              margin-right: 14px;
            }
            .link__name--value-href {
              display: block;
              background: $bg-01-color;
              color: $primary-color;
              border: 1px solid $border-01-color;
              border-radius: 4px;
              margin-bottom: 4px;
              outline: none;
              padding: 2px;
              @include size(160px);
              margin-right: 14px;
            }
          }
        }
        .capacity {
          @include block(0 10px 0 0);
          @include size(159px);
          @include font(400, 10px, 12px);
          color: $text-color;
          letter-spacing: 0.44px;
          &__name {
            display: block;
          }
          &__value {
            display: none;
            background: $bg-01-color;
            color: $text-01-color;
            border: 1px solid $border-01-color;
            border-radius: 4px;
            margin-bottom: 4px;
            outline: none;
            padding: 2px;
            @include size(159px);
            margin-right: 10px;
          }
          &.on-editing {
            .capacity__name {
              display: none;
            }
            .capacity__value {
              display: block;
            }
          }
        }
        .exclusive-links {
          @include block(0 29px 0 0);
          @include size(161px);
          @include font(400, 10px, 12px);
          letter-spacing: 0.44px;
          &__name {
            display: block;
          }
          &__value {
            display: none;
            background: $bg-01-color;
            color: $text-01-color;
            border: 1px solid $border-01-color;
            border-radius: 4px;
            margin-bottom: 4px;
            outline: none;
            padding: 2px;
            @include size(161px);
            margin-right: 29px;
          }
          &.on-editing {
            .exclusive-links__name {
              display: none;
            }
            .exclusive-links__value {
              display: block;
            }
          }
        }
        .link-to-project {
          @include block(0 56px 0 0);
          @include size(107px);
          @include font(400, 10px, 12px);
          letter-spacing: 0.44px;
          color: $focus-color;
          text-decoration: none;
          &__name {
            display: block;
            font: inherit;
            color: inherit;
            text-decoration: none;
            &:hover {
              text-decoration: underline;
            }
          }
          &__value {
            display: none;
            background: $bg-01-color;
            color: $text-01-color;
            border: 1px solid $border-01-color;
            border-radius: 4px;
            margin-bottom: 4px;
            outline: none;
            padding: 2px;
            @include size(107px);
            margin-right: 56px;
          }
          &.on-editing {
            .link-to-project__name {
              display: none;
            }
            .link-to-project__value {
              display: block;
            }
          }
        }
        .edit {
          @include block(0 10px 0 0);
          @include size(73px);
          &__icon {
            @include size(11px,11px);
            @include block();
            cursor: pointer;
            &.hidden {
              display: none;
            }
            path {
              @include transition();
              fill: $text-02-color;
            }
            &:hover {
              path {
                fill: $primary-color;
              }
            }
          }
          &__icon--check {
            @include size(15px,15px);
            @include block();
            cursor: pointer;
            &.hidden {
              display: none;
            }
          }
        }
        .delete {
          @include block();
          @include size(74px);
          &__icon {
            @include block();
            cursor: pointer;
            path {
              @include transition();
              fill: $text-02-color;
            }
            &:hover {
              path {
                fill: $alert-color;
              }
            }
          }
        }
      }
    }
  }
}
