@import "utils/variables";
@import "utils/mixins";
@import "utils/extends";
@import "utils/reset";
@import "utils/presets";

.project-list {
  // Title
  &__title {
    margin-bottom: 15px;
  }
  // Table
  &__table {
    // Table -- head
    .table-head {
      @include block(0,0 0 0 25px,flex);
      @include flex(row, flex-start, center);
      @include color($bg-03-color, $text-04-color);
      min-height: 37px;
      &__item {
        @include block();
        @include font(400, 10px, 12px);
        letter-spacing: 0.44px;
        &:first-child {
          width: 160px;
          margin-right: 200px;
        }
        &:nth-child(2) {
          width: 200px;
          margin-right: 172px;
        }
        &:nth-child(3) {
          width: 80px;
        }
      }
    }
    // Table -- body
    .table-body {
      max-height: 65vh;
      overflow-y: auto;
      &::-webkit-scrollbar-track {border-radius: 4px; background: $ui-01-color;}
      &::-webkit-scrollbar {width: 6px;}
      &::-webkit-scrollbar-thumb {border-radius: 4px;background: $primary-color;}
      &:hover::-webkit-scrollbar-thumb {background: $primary-color;}
      &__item {
        @include block(0, 12px 0 12px 25px, flex);
        @include flex(row, flex-start, center);
        @include size();
        border-bottom: 1px solid $border-02-color;
        min-height: 36px;
        .address {
          @include block(0 200px 0 0, 0, flex);
          @include flex(row, flex-start, center);
          @include size(160px);
          @include font(400, 10px, 12px);
          @include color(transparent, $text-color);
          letter-spacing: 0.44px;
        }
        .campaign {
          @include block(0 172px 0 0, 0, flex);
          @include flex(row, flex-start, center);
          @include size(200px);
          @include font(400, 10px, 12px);
          @include color(transparent, $text-color);
          letter-spacing: 0.44px;
        }
        .last-date {
          @include block(0, 0, flex);
          @include flex(row, flex-start, center);
          @include size(80px);
          @include font(400, 10px, 12px);
          @include color(transparent, $text-color);
          letter-spacing: 0.44px;
        }
      }
    }
  }
}
