@import "utils/variables";
@import "utils/mixins";
@import "utils/extends";
@import "utils/reset";
@import "utils/presets";

// Project Creation/Edit
.creation-edit {
  margin-bottom: 35px;
  // Title
  &__title {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid $border-03-color;
  }
  &__form {
    .form-title {
      @include block(0 0 10px);
      @include font(400, 12px, 14px);
      @include size();
      color: $text-03-color;
      letter-spacing: 0.44px;
    }
    // Form Wrapper
    .form-wrapper {
      @include block(0 auto 20px,0,flex);
      @include flex(row, flex-start, center);
    }
    // Form Label
    .form-label {
      @include block(0 30px 0 0);
      @include size(100%, 49px);
      min-height: 49px;
      min-width: 252px;
      max-width: 345px;
      border-radius: 6px;
      position: relative;
    }
    // Form Input
    .form-input {

      &::placeholder {
        color: $placeholder-text-color;
      }
      &:hover {
        border: 1px solid $focus-color;
      }
      &:focus {
        outline: none;
        box-shadow: $focus-shadow;
        border: 1px solid $primary-color;
      }
    }
    // Form Counter
    .form-counter {
      @include block(0,0,flex);
      @include flex(row, center, center);
      @include size(auto, 49px);
      &__btn {
        @include font(700, 24px, 24px);
        @include size(auto, 100%);
        @include color(transparent, $border-01-color);
        @include transition();
        min-width: 14px;
        border: none;
        letter-spacing: 0.1px;
        cursor: pointer;
        outline: none;
        &.minus {
          position: relative;
          bottom: 1.5px; right: 1px;
          &:hover {
            color: $alert-color;
          }
          &:active {
            color: $primary-color;
          }
        }
        &.plus {
          &:hover {
            color: $confirm-color;
          }
          &:active {
            color: $primary-color;
          }
        }
      }
      &__value {
        @include block(0,4px,flex);
        @include flex(row, center, center);
        @include size(81px, 100%);
        @include color($bg-01-color, $text-01-color);
        @include font(400, 16px, 18px);
        @include transition();
        border: 1px solid $border-01-color;
        letter-spacing: 0.44px;
        border-radius: 6px;
      }
      &:hover {
        .form-counter__value {
          border: 1px solid $primary-color;
        }
      }
    }
  }
}
