@import "utils/variables";
@import "utils/mixins";
@import "utils/extends";
@import "utils/reset";
@import "utils/presets";

// Add new user
.add-new-proxies {
  margin-bottom: 35px;
  &__title {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid $border-03-color;
  }
  &__form {
    .form-title {
      @include block(0 0 10px);
      @include font(400, 12px, 14px);
      @include size();
      color: $text-03-color;
      letter-spacing: 0.44px;
    }
    // Form Wrapper
    .form-wrapper {
      @include block(0 auto 20px,0,flex);
      @include flex(row, flex-start, flex-start);
    }
    .form-select {
      margin-right: 20px;
    }
    // Form Label
    .form-label {
      position: relative;
      &.address, &.login {
        @include size(100%,48px);
        min-width: 252px;
        max-width: 354px;
      }
      &.login {
        margin-right: 20px;
      }
    }
    // Form Input
    .form-input {
      @include size(100%, 100%);
      margin-left: 0;
      min-width: 252px;
      max-width: 354px;
      &::placeholder {
        color: $placeholder-text-color;
      }
      &:hover {
        border: 1px solid $focus-color;
      }
      &:focus {
        outline: none;
        box-shadow: $focus-shadow;
        border: 1px solid $primary-color;
      }
    }
    // user-submit-wrap
    .user-submit-wrap {
      @include size(144px,42px);
      @include block();
      position: relative;
      .loader-circle {
        position: absolute;
        right: -36px; top: -2px; bottom: auto; left: auto; z-index: 2;
      }
    }
    .form-submit {
      @include transition();
      transform: translateY(0);
      &.invalid {
        transform: translateY(12px);
      }
    }
    .proxy-submit-wrap {
      @include size(144px,42px);
      position: relative;
      .loader-circle {
        position: absolute;
        right: -28px; bottom: 18px; top: auto; left: auto; z-index: 2;
      }
    }
  }
}

// All Proxies
.all-proxies {
  // Table
  &__table {
    // Table -- head
    .table-head {
      @include block(0,0 0 0 25px,flex);
      @include flex(row, space-between, center);
      @include color($bg-03-color, $text-04-color);
      min-height: 37px;
      &__item {
        @include block();
        @include font(400, 10px, 12px);
        letter-spacing: 0.44px;
        &:first-child {
          width: 170px;
          margin-right: 34px;
        }
        &:nth-child(2) {
          width: 101px;
          margin-right: 88px;
        }
        &:nth-child(3) {
          width: 161px;
          margin-right: 9px;
        }
        &:nth-child(4) {
          width: 73px;
          margin-right: 57px;
        }
        &:nth-child(5) {
          width: 77px;
        }
      }
    }
    // Table -- body
    .table-body {
      max-height: 35vh;
      overflow-y: auto;
      &::-webkit-scrollbar-track {border-radius: 4px; background: $ui-01-color;}
      &::-webkit-scrollbar {width: 6px;}
      &::-webkit-scrollbar-thumb {border-radius: 4px;background: $primary-color;}
      &:hover::-webkit-scrollbar-thumb {background: $primary-color;}
      &__item {
        @include block(0, 12px 0 12px 25px, flex);
        @include flex(row, space-between, center);
        @include size();
        border-bottom: 1px solid $border-02-color;
        min-height: 36px;
        .address {
          @include block(0 34px 0 0);
          @include size(170px);
          @include font(400, 10px, 12px);
          @include color(transparent, $focus-color);
          letter-spacing: 0.44px;
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
        }
        .login {
          @include block(0 88px 0 0);
          @include size(101px);
          @include font(400, 10px, 12px);
          color: $text-color;
          letter-spacing: 0.44px;
        }
        .password {
          @include block(0 9px 0 0);
          @include size(161px);
          @include font(400, 10px, 12px);
          letter-spacing: 0.44px;
        }
        .type {
          @include block(0 57px 0 0);
          @include size(73px);
          @include font(400, 10px, 12px);
          color: $text-color;
        }
        .delete {
          @include block();
          @include size(77px);
          &__icon {
            @include block();
            cursor: pointer;
            path {
              @include transition();
              fill: $text-02-color;
            }
            &:hover {
              path {
                fill: $alert-color;
              }
            }
          }
        }
      }
    }
  }
}
