@import "utils/variables";
@import "utils/mixins";
@import "utils/extends";
@import "utils/reset";
@import "utils/presets";

// Add new user
.add-new-user {
  margin-bottom: 35px;
  &__title {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid $border-03-color;
  }
  &__form {
    .form-title {
      @include block(0 0 10px);
      @include font(400, 12px, 14px);
      @include size();
      color: $text-03-color;
      letter-spacing: 0.44px;
    }
    // Form Wrapper
    .form-wrapper {
      @include block(0 auto 20px,0,flex);
      @include flex(row, flex-start, flex-start);
    }
    // Form Label
    .form-label {
      position: relative;
      &.email {
        @include size(100%,48px);
        min-width: 252px;
        max-width: 359px;
        margin-right: 20px;
      }
    }
    // Form Input
    .form-input {
      @include size(100%, 100%);
      margin-left: 0;
      min-width: 252px;
      max-width: 359px;
      &::placeholder {
        color: $placeholder-text-color;
      }
      &:hover {
        border: 1px solid $focus-color;
      }
      &:focus {
        outline: none;
        box-shadow: $focus-shadow;
        border: 1px solid $primary-color;
      }
    }
    // user-submit-wrap
    .user-submit-wrap {
      @include size(144px,42px);
      @include block();
      position: relative;
      .loader-circle {
        position: absolute;
        right: -36px; top: -2px; bottom: auto; left: auto; z-index: 2;
      }
    }
    .form-submit {
      @include transition();
      transform: translateY(0);
      &.invalid {
        transform: translateY(12px);
      }
    }
  }
}

// User List
.user-list {
  // Table
  &__table {
    // Table -- head
    .table-head {
      @include block(0,0 0 0 25px,flex);
      @include flex(row, space-between, center);
      @include color($bg-03-color, $text-04-color);
      min-height: 37px;
      &__item {
        @include block();
        @include font(400, 10px, 12px);
        letter-spacing: 0.44px;
        &:first-child {
          width: 200px;
          margin-right: 94px;
        }
        &:nth-child(2) {
          width: 160px;
          margin-right: 80px;
        }
        &:nth-child(3) {
          width: 160px;
          margin-right: 28px;
        }
        &:nth-child(4) {
          width: 53px;
          margin-right: 20px;
        }
        &:nth-child(5) {
          width: 77px;
        }
      }
    }
    // Table -- body
    .table-body {
      max-height: 35vh;
      overflow-y: auto;
      &::-webkit-scrollbar-track {border-radius: 4px; background: $ui-01-color;}
      &::-webkit-scrollbar {width: 6px;}
      &::-webkit-scrollbar-thumb {border-radius: 4px;background: $primary-color;}
      &:hover::-webkit-scrollbar-thumb {background: $primary-color;}
      &__item {
        @include block(0, 12px 0 12px 25px, flex);
        @include flex(row, space-between, center);
        @include size();
        border-bottom: 1px solid $border-02-color;
        min-height: 36px;
        a {
          @include font(400, 10px, 12px);
          @include color(transparent, $focus-color);
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
        }
        input {
          @include block(0, 4px 6px);
          @include color($bg-01-color, $text-01-color);
          border: 1px solid $border-01-color;
          outline: none;
          border-radius: 4px;
        }
        .email {
          @include block(0 94px 0 0);
          @include size(200px);
          @include font(400, 10px, 12px);
          @include color(transparent, $focus-color);
          letter-spacing: 0.44px;
          text-decoration: none;
        }
        .projects {
          @include block(0 80px 0 0);
          @include size(160px);
          @include font(400, 10px, 12px);
          color: $text-color;
          letter-spacing: 0.44px;
        }
        .status {
          @include block(0 28px 0 0);
          @include size(160px);
          @include font(400, 10px, 12px);
          letter-spacing: 0.44px;
          position: relative;

          &__head {
            &.active {
              color: $confirm-color;
            }
            &.inactive {
              color: $alert-color;
            }
          }
          &__body {
            @include block(0,0,none);
            @include size();
            list-style: none;
            position: absolute;
            left: 0; top: 100%; right: 0; bottom: auto; z-index: 50;
            background: cornflowerblue;

            .status-item {
              @include block(0, 8px 6px);
              @include font(400, 10px, 12px);
              @include color($bg-01-color, $text-01-color);
              @include transition();
              cursor: pointer;
              &:hover {
                background: $ui-01-color;
              }
            }
          }
          &.on-editing {
            .status__head {
              padding: 8px 6px;
              border: 1px solid $placeholder-text-color;
              border-bottom: none;
              border-radius: 6px 6px 0 0;
            }
            .status__body {
              display: block;
              border: 1px solid $placeholder-text-color;
              border-top: none;
              border-radius: 0 0 6px 6px;
              overflow: hidden;
            }
          }
        }
        .edit {
          @include block(0 20px 0 0);
          @include size(53px);
          &__icon {
            @include size(11px,11px);
            @include block();
            cursor: pointer;
            fill: none;
            path {
              @include transition();
              fill: $text-02-color;
            }
            &:hover {
              path {
                @include transition();
                fill: $primary-color;
              }
            }
          }
        }
        .delete {
          @include block();
          @include size(77px);
          @include transition();
          &__icon {
            @include block();
            cursor: pointer;
            path {
              @include transition();
              fill: $text-02-color;
            }
            &:hover {
              path {
                fill: $alert-color;
              }
            }
          }
        }
      }
    }
  }
}
