@import "utils/variables";
@import "utils/mixins";
@import "utils/extends";
@import "utils/reset";
@import "utils/presets";


// Add new user
.add-new-user {
  margin-bottom: 35px;
  &__title {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid $border-03-color;
  }
  &__form {
    .form-title {
      @include block(0 0 10px);
      @include font(400, 12px, 14px);
      @include size();
      color: $text-03-color;
      letter-spacing: 0.44px;
    }
    // Form Wrapper
    .form-wrapper {
      @include block(0 auto 20px,0,flex);
      @include flex(row, flex-start, flex-start);
    }
    // Form Label
    .form-label {
      position: relative;
      &.email {
        @include size(100%,48px);
        min-width: 252px;
        max-width: 359px;
        margin-right: 20px;
      }
    }
    // Form Input
    .form-input {
      @include size(100%, 100%);
      margin-left: 0;
      min-width: 252px;
      max-width: 359px;
      &::placeholder {
        color: $placeholder-text-color;
      }
      &:hover {
        border: 1px solid $focus-color;
      }
      &:focus {
        outline: none;
        box-shadow: $focus-shadow;
        border: 1px solid $primary-color;
      }
    }
    // user-submit-wrap
    .user-submit-wrap {
      @include size(144px,42px);
      @include block(2px 0 0);
      position: relative;
      .loader-circle {
        position: absolute;
        right: -36px; top: -2px; bottom: auto; left: auto; z-index: 2;
      }
    }
    .form-submit {
      @include transition();
      transform: translateY(0);
      &.invalid {
        transform: translateY(12px);
      }
    }
  }
}


.drop-zone-label {
  @include block(0 20px);
  @include size(340px, 48px);
  max-width: 340px;
  .dropzone {
    @include block(0,0,flex);
    @include flex(row, center, center);
    @include size(100%, 100%);
    @include color($drop-menu-color, $label-color);
    text-align: center;
    background: $drop-menu-color;
    border: 1px dashed $border-01-color;
    border-radius: 6px;
    letter-spacing: 0.1px;
    &__icon {
      @include block(0 10px 0 0);
      @include size(20px, 20px);
      fill: none;
      path {
        fill: $text-02-color;
      }
    }
  }

  .dropzone.dragover {
    border-color: $text-color;
    color: $text-color;
    .dropzone__icon {
      @include block(0 10px 0 0);
      @include size(20px, 20px);
      fill: none;
      path {
        fill: $text-color;
      }
    }
  }
  &__name {
    @include block(10px 1px 0, 0, flex);
    @include flex(row, flex-start, center);
    @include font(400, 12px, 14px);
    letter-spacing: 0.44px;
    color: $text-01-color;
    .text {
      display: none;
      margin-right: 6px;
    }
    .icon {
      display: none;
      margin-top: 2px;
      margin-right: 4px;
    }
    .test {
      display: none;
      margin-top: 2px;
      color: $drop-confirmed;
      letter-spacing: 0.44px;
      font-size: 6px;
    }
    &.loaded {
      .text, .icon, .test { display: block }
    }
  }
}


input[type="file"] {
  display: none;
}


.custom-file-upload {
  @include block(0,6px 4px,inline-block);
  @include font(400, 14px, 14px);
  color: $primary-color;
  border: none;
  cursor: pointer;
  letter-spacing: 0.1px;

}

