.site-header {
  @include block(0,0,flex);
  @include flex(row, flex-start, center);
  @include size();
  @include color($bg-01-color, $primary-color);
  min-height: 44px;
  box-shadow: $box-shadow-01;
  // Container
  .container-header {
    @include block(0,0 15px,flex);
    @include flex(row, flex-end, center);
    @include size(100%, 100%);
    max-width: 1008px;

    // User Logout
    .user-logout {
      @include block(0 19px 0 0, 9px, flex);
      @include flex(row, center, center);
      @include size(80px, 100%);
      position: relative;
      min-height: 44px;
      background: $focus-color;
      cursor: pointer;
      .user-name {
        @include block();
        @include font(700, 10px,12px);
        color: $text-inverse-color;
        letter-spacing: 0.1px;
      }
      .arrow {
        display: block;
        margin: 0 7px 0 4px;

      }
      .icon {
        display: block;
        margin-bottom: 3px;
      }
      .submenu {
        @include block(0 19px 0 0, 9px, none);
        @include flex(row, space-between, center);
        @include size(80px, 100%);
        @include transition();
        position: absolute;
        top: 108%; left: 0; right: 0; bottom: auto; z-index: 1;
        background: $focus-color;
        cursor: pointer;
        text-decoration: none;
        &__user-name {
          @include block();
          @include font(700, 10px,12px);
          color: $text-inverse-color;
          letter-spacing: 0.1px;
        }
        &__icon {

        }
        .triangle {
          @include size(8px,8px);
          fill: none;
          position: absolute;
          top: -3px; bottom: auto; right: 12px; left: auto; z-index: 1;
          rect {
            @include transition();
            fill: $focus-color;
          }
        }
        &:hover {
          background: $ui-03-color;
          .triangle {
            rect {
              fill: $ui-03-color;
            }
          }
        }
      }
      &.is-open {
        .submenu {
          display: flex;
        }
      }
    }

    // Create a project
    .create-a-project {
      @include block(0 18px 0 0, 0, flex);
      @include flex(row, flex-end, center);
      @include size(auto, auto);
      @include font(700, 10px,12px);
      letter-spacing: 0.1px;
      color: $ui-03-color;
      text-decoration: none;
      span {
        margin-right: 6px;
      }
    }

    // Remainder
    .reminder {
      position: relative;
      cursor: pointer;
      .messages-counter {
        @include block(0,0,flex);
        @include flex(row, center, center);
        @include circle(16px);
        @include color($alert-color, $text-inverse-color);
        @include font(700, 7px,7px);
        text-decoration: none;
        letter-spacing: 0.1px;
        text-align: center;
        position: absolute;
        left: auto; right: -9px; top: -6px; bottom: auto; z-index: 2;
      }
      &-menu {
        @include block(0, 15px, none);
        @include size(251px);
        @include color($bg-01-color, $placeholder-text-color);
        @include font(400, 10px, 16px);
        box-shadow: $box-shadow-01;
        border-radius: 2px;
        cursor: default;
        position: absolute;
        left: auto; right: -15px; bottom: auto; top: 148%; z-index: 50;
        max-height: 400px;
        overflow-y: auto;
        &::-webkit-scrollbar-track {border-radius: 4px; background: $ui-01-color;}
        &::-webkit-scrollbar {width: 6px;}
        &::-webkit-scrollbar-thumb {border-radius: 4px;background: $primary-color;}
        &:hover::-webkit-scrollbar-thumb {background: $primary-color;}
        &__item {
          @include block(0 0 0 auto, 12px 0 );
          border-bottom: 1px solid $border-02-color;
          p {
            font: inherit;
            color: inherit;
          }
          a {
            font: inherit;
            color: $primary-color;
            text-decoration: none;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
      &.is-open {
        .reminder-menu {
          display: block;
        }
      }
    }
  }
}

