.site-logo {
  @include block(0,0 120px 0 18px,flex);
  @include flex(row, flex-end, center);
  @include size();
  @include color(inherit, inherit);
  min-height: 44px;
  position: relative;
  &__icon {
    @include block();
    @include size(29px, 13px);
    max-width: 137px;
  }
}
