.site-navigation {
  @include block(40px 0 40px auto, 0 20px 0 0);
  background: $ui-03-color;
  .nav-list {
    @include block(0 0 0 auto);
    &__item {
      @include block(0,0 9px,flex);
      @include flex(row, flex-end, center);
      @include size();
      @include transition(all, 160ms, linear);
      border-radius: 0 20px 20px 0;

      .link {
        padding: 8px 0 6px;
        max-width: 118px;
      }
      // Item Active
      &.active {
        @include size();
        @include color($bg-01-color, $ui-03-color);
        .link {
          @include color(transparent, $ui-03-color);
        }
      }
      &.multiline {

        .submenu {
          @include size();
          @include transition();
          max-width: 118px;
          &__title {
            @include font(400, 14px,16px);
            letter-spacing: 0.44px;
            color: $text-inverse-color;
            padding: 8px 0 6px;
            cursor: pointer;
            .text {

            }
            .icon {
              display: inline-block;
              @include transition();
              margin-left: 6px;
              transform: rotate(0);
              svg {
                path {
                  stroke: $text-inverse-color;
                }
              }
            }
          }
          .list-submenu {
            @include transition();
            @include block();
            cursor: pointer;
            max-width: 118px;
            overflow: hidden;
            max-height: 66px;
            min-height: 0;
            height: 0;
            &__item {
              padding-left: 8px;
              .link {
                position: relative;
                &::before {
                  content: "";
                  @include block();
                  @include size(0%, 1.5px);
                  @include transition();
                  position: absolute;
                  left: 0; right: 0; bottom: 0; top: auto; z-index: 1;
                  background: $bg-01-color;
                }
                &:hover {
                  &::before {
                    @include size(60%, 1.5px);
                  }
                }
              }
            }
          }
        }
        &.active {
          background: $bg-01-color;
          .submenu {
            &__title {
              color: $ui-03-color;
              .icon {
                display: inline-block;
                margin-left: 6px;
                svg {
                  path {
                    stroke: $ui-03-color;
                  }
                }
              }
            }
            .list-submenu {
              &__item {
                .link {
                  position: relative;
                  &::before {
                    content: "";
                    @include block();
                    @include size(0%, 1.5px);
                    @include transition();
                    position: absolute;
                    left: 0; right: 0; bottom: 0; top: auto; z-index: 1;
                    background: $ui-03-color;
                  }
                  &:hover {
                    &::before {
                      @include size(60%, 1.5px);
                    }
                  }
                }

              }
            }
          }
        }
        &:hover {
          .submenu {
            max-width: 118px;
            &__title {
              .icon {
                display: inline-block;
                transform: rotate(180deg);
              }
            }
            .list-submenu {
              @include transition();
              overflow: hidden;
              max-height: 69px;
              min-height: 0;
              height: 69px;
            }
          }
        }
      }
    }
  }
}
