@charset "UTF-8";
.link {
  display: block;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: auto;
  background: transparent;
  color: #FFFFFF;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-style: normal;
  transition: all 0.16s ease;
  -webkit-transition: all 0.16s ease;
  -moz-transition: all 0.16s ease;
  text-decoration: none;
  cursor: pointer;
  letter-spacing: 0.44px;
}

.title {
  display: block;
  margin: 0 0 15px;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  font-style: normal;
  color: #000000;
  letter-spacing: 0.44px;
}

.input-standard {
  display: flex;
  margin: 0 auto;
  padding: 0 16px;
  box-sizing: border-box;
  width: 100%;
  height: 48px;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background: #FFFFFF;
  color: #19191D;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  font-style: normal;
  transition: all 0.16s ease;
  -webkit-transition: all 0.16s ease;
  -moz-transition: all 0.16s ease;
  letter-spacing: 0.44px;
  border: 1px solid #B4B4BB;
  border-radius: 6px;
  outline: none;
}
.input-standard:hover {
  border: 1px solid #2979FF;
}
.input-standard:focus {
  border: 1px solid #2979FF;
  box-shadow: 0px 0px 16px rgba(41, 121, 255, 0.24), 0px 0px 4px rgba(41, 121, 255, 0.48);
}
.input-standard::placeholder {
  color: #787885;
}

.btn-standart {
  display: flex;
  margin: 0;
  padding: 10px 12px;
  box-sizing: border-box;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 144px;
  height: 42px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 22px;
  font-style: normal;
  background: #2979FF;
  color: #FFFFFF;
  transition: all 0.16s ease;
  -webkit-transition: all 0.16s ease;
  -moz-transition: all 0.16s ease;
  transform: translateY(0);
  box-shadow: 3px 4px 14px rgba(0, 0, 0, 0);
  letter-spacing: 0.1px;
  text-align: center;
  border-radius: 6px;
  outline: none;
  text-decoration: none;
  cursor: pointer;
  border: none;
}
.btn-standart:hover {
  box-shadow: -3px 4px 14px rgba(0, 0, 0, 0.07);
  transform: translateY(0);
  background: #406DB8;
}
.btn-standart:active {
  transition: all 40ms ease;
  -webkit-transition: all 40ms ease;
  -moz-transition: all 40ms ease;
  background: #2979FF;
  box-shadow: inset -3px 4px 14px rgba(0, 0, 0, 0.07);
  transform: translateY(0);
}

/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  -webkit-scroll-behavior: smooth;
  -moz-scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и li, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Ограничиваем макс. ширину изображений */
img {
  max-width: 100%;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

.module-window {
  display: block;
  margin: 0;
  padding: 25px;
  box-sizing: border-box;
  background: #FFFFFF;
  color: #000000;
  width: 100%;
  height: auto;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  font-style: normal;
  box-shadow: -3px 4px 14px rgba(0, 0, 0, 0.07);
  border-radius: 2px;
}

.dropdown-list {
  display: block;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 48px;
  min-width: 234px;
  max-width: 354px;
  min-height: 48px;
  border-radius: 6px;
}
.dropdown-list__head {
  display: flex;
  margin: 0 auto;
  padding: 9px 9px 7px 16px;
  box-sizing: border-box;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  background: #FFFFFF;
  color: #19191D;
  border: 1px solid #B4B4BB;
  border-radius: 6px;
  cursor: pointer;
}
.dropdown-list__head .dropdown-title__label {
  display: block;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  font-style: normal;
  letter-spacing: 0.1px;
  color: #787885;
}
.dropdown-list__head .dropdown-title__value {
  display: block;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  font-style: normal;
  letter-spacing: 0.44px;
  color: #19191D;
}
.dropdown-list__head .dropdown-arrow {
  display: block;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 32px;
  height: 32px;
}
.dropdown-list__head:hover {
  border: 1px solid #2979FF;
}
.site-login {
  display: block;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  background: #EFF3FA;
  color: #19191D;
  overflow: hidden;
  min-height: 300px;
  position: relative;
}
.site-login-form {
  display: block;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: auto;
  max-width: 354px;
  position: absolute;
  left: 50%;
  top: 35%;
  right: auto;
  bottom: auto;
  z-index: 500;
  transform: translate(-50%, -50%);
}
.site-login-form__title {
  display: block;
  margin: 0 auto 17px;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: auto;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 23px;
  font-style: normal;
  color: #19191D;
  text-align: center;
  letter-spacing: 0.44px;
}
.site-login-form .login-label {
  display: block;
  margin: 0 auto 20px;
  padding: 0;
  box-sizing: border-box;
  position: relative;
}
.site-login-form .login-label.login::before {
  content: "Login";
  display: block;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: auto;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  font-style: normal;
  position: absolute;
  left: 17px;
  top: 8px;
  bottom: auto;
  right: auto;
  z-index: 1;
  letter-spacing: 0.1px;
  color: #2264D1;
}
.site-login-form .login-label__input.login {
  padding: 22px 16px 8px;
}
.site-login-form__bottom {
  display: flex;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
}
.site-login-form__bottom .forgot-pass {
  display: block;
  margin: 0 4px;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  font-style: normal;
  transition: all 0.16s ease;
  -webkit-transition: all 0.16s ease;
  -moz-transition: all 0.16s ease;
  letter-spacing: 0.44px;
  color: #19191D;
  text-decoration: none;
  cursor: pointer;
}
.site-login-form__bottom .forgot-pass:hover {
  color: #2979FF;
}

/*# sourceMappingURL=login.css.map */
