@charset "UTF-8";
@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.link {
  display: block;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: auto;
  background: transparent;
  color: #FFFFFF;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-style: normal;
  transition: all 0.16s ease;
  -webkit-transition: all 0.16s ease;
  -moz-transition: all 0.16s ease;
  text-decoration: none;
  cursor: pointer;
  letter-spacing: 0.44px;
}

.title {
  display: block;
  margin: 0 0 15px;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  font-style: normal;
  color: #000000;
  letter-spacing: 0.44px;
}

.label-title {
  display: block;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 50%;
  height: auto;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 13px;
  font-style: normal;
  transition: all 0.16s ease;
  -webkit-transition: all 0.16s ease;
  -moz-transition: all 0.16s ease;
  letter-spacing: 0.1px;
  color: #787885;
  position: absolute;
  left: 17px;
  top: 5px;
  right: auto;
  bottom: auto;
  z-index: 1;
  transform: translateY(-5px);
  opacity: 0;
}
.on-focus.label-title {
  transform: translateY(0);
  opacity: 1;
}
.active.label-title {
  color: #2264D1;
}

.input-standard {
  display: flex;
  margin: 0 auto;
  padding: 0 16px;
  box-sizing: border-box;
  width: 100%;
  height: 48px;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background: #FFFFFF;
  color: #19191D;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  font-style: normal;
  transition: all 0.16s ease;
  -webkit-transition: all 0.16s ease;
  -moz-transition: all 0.16s ease;
  letter-spacing: 0.44px;
  border: 1px solid #B4B4BB;
  border-radius: 6px;
  outline: none;
}
.input-standard:hover {
  border: 1px solid #2979FF;
}
.input-standard:focus {
  border: 1px solid #2979FF;
  box-shadow: 0px 0px 16px rgba(41, 121, 255, 0.24), 0px 0px 4px rgba(41, 121, 255, 0.48);
}
.on-focus.input-standard {
  padding: 22px 40px 8px 16px;
}
.input-standard::placeholder {
  color: #787885;
}
.input-standard + .invalid-message {
  display: block;
  margin: 8px 0;
  padding: 0 16px;
  box-sizing: border-box;
  width: 100%;
  height: auto;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  font-style: normal;
  transition: all 0.16s ease;
  -webkit-transition: all 0.16s ease;
  -moz-transition: all 0.16s ease;
  letter-spacing: 0.4px;
  color: #FF594F;
  opacity: 0;
}
.invalid.input-standard {
  border: 1px solid #FF594F;
}
.invalid.input-standard + .invalid-message {
  opacity: 1;
}
.confirmed.input-standard {
  border: 1px solid #43A047;
}

.btn-standard {
  display: flex;
  margin: 0;
  padding: 10px 12px;
  box-sizing: border-box;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 144px;
  height: 42px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 22px;
  font-style: normal;
  background: #2979FF;
  color: #FFFFFF;
  transition: all 0.16s ease;
  -webkit-transition: all 0.16s ease;
  -moz-transition: all 0.16s ease;
  transform: translateY(0);
  box-shadow: 3px 4px 14px rgba(0, 0, 0, 0);
  letter-spacing: 0.1px;
  text-align: center;
  border-radius: 6px;
  outline: none;
  text-decoration: none;
  cursor: pointer;
  border: none;
}
.btn-standard:hover {
  box-shadow: -3px 4px 14px rgba(0, 0, 0, 0.07);
  transform: translateY(0);
  background: #406DB8;
}
.btn-standard:active {
  transition: all 40ms ease;
  -webkit-transition: all 40ms ease;
  -moz-transition: all 40ms ease;
  background: #2979FF;
  box-shadow: inset -3px 4px 14px rgba(0, 0, 0, 0.07);
  transform: translateY(0);
}
.btn-standard:disabled {
  cursor: not-allowed;
  background: #787885;
  color: #F0F0F1;
  box-shadow: 3px 4px 14px rgba(0, 0, 0, 0);
}

/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  -webkit-scroll-behavior: smooth;
  -moz-scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и li, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Ограничиваем макс. ширину изображений */
img {
  max-width: 100%;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

.loader-circle {
  transition: all 0.16s ease;
  -webkit-transition: all 0.16s ease;
  -moz-transition: all 0.16s ease;
  width: 25px;
  height: 25px;
  opacity: 0;
}
.loader-circle.active {
  opacity: 1;
}
.loader-circle .lds-roller {
  width: 100%;
  height: 100%;
  display: inline-block;
  position: relative;
  transform: scale(0.4);
}
.loader-circle .lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.loader-circle .lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #2979FF;
  margin: -4px 0 0 -4px;
}
.loader-circle .lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.loader-circle .lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.loader-circle .lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.loader-circle .lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.loader-circle .lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.loader-circle .lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.loader-circle .lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.loader-circle .lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.loader-circle .lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.loader-circle .lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.loader-circle .lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.loader-circle .lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.loader-circle .lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.loader-circle .lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.loader-circle .lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.loader-circle .lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.module-window {
  display: block;
  margin: 0;
  padding: 25px;
  box-sizing: border-box;
  background: #FFFFFF;
  color: #000000;
  width: 100%;
  height: auto;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  font-style: normal;
  box-shadow: -3px 4px 14px rgba(0, 0, 0, 0.07);
  border-radius: 2px;
}

.dropdown-list {
  display: block;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 48px;
  min-width: 234px;
  max-width: 354px;
  min-height: 48px;
  border-radius: 6px;
}
.dropdown-list__head {
  display: flex;
  margin: 0 auto;
  padding: 9px 9px 7px 16px;
  box-sizing: border-box;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  background: #FFFFFF;
  color: #19191D;
  border: 1px solid #B4B4BB;
  border-radius: 6px;
  cursor: pointer;
}
.dropdown-list__head .dropdown-title__label {
  display: block;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  font-style: normal;
  letter-spacing: 0.1px;
  color: #787885;
  position: relative;
  bottom: 3px;
}
.dropdown-list__head .dropdown-title__value {
  display: block;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  font-style: normal;
  letter-spacing: 0.44px;
  color: #19191D;
}
.dropdown-list__head .dropdown-arrow {
  display: block;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 32px;
  height: 32px;
  transition: all 0.16s ease;
  -webkit-transition: all 0.16s ease;
  -moz-transition: all 0.16s ease;
  transform: rotate(0);
}
.dropdown-list__head:hover {
  border: 1px solid #2979FF;
}
.dropdown-list__body {
  display: none;
}

.dropdown-list.is-open {
  position: relative;
}
.dropdown-list.is-open .dropdown-list__head {
  border: 1px solid #787885;
  border-bottom: none;
  box-sizing: border-box;
  border-radius: 6px 6px 0 0;
}
.dropdown-list.is-open .dropdown-list__head .dropdown-arrow {
  transform: rotate(180deg);
}
.dropdown-list.is-open .dropdown-list__body {
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  bottom: auto;
  z-index: 5;
  display: block;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: auto;
  background: #FFFFFF;
  color: #19191D;
  border-radius: 0 0 6px 6px;
  border: 1px solid #787885;
  border-top: none;
  overflow: hidden;
}
.dropdown-list.is-open .dropdown-list__body .drop-menu {
  border-radius: 0 0 6px 6px;
  max-height: 360px;
  overflow-y: auto;
}
.dropdown-list.is-open .dropdown-list__body .drop-menu::-webkit-scrollbar-track {
  border-radius: 4px;
  background: #EBF2FF;
}
.dropdown-list.is-open .dropdown-list__body .drop-menu::-webkit-scrollbar {
  width: 6px;
}
.dropdown-list.is-open .dropdown-list__body .drop-menu::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: #2979FF;
}
.dropdown-list.is-open .dropdown-list__body .drop-menu:hover::-webkit-scrollbar-thumb {
  background: #2979FF;
}
.dropdown-list.is-open .dropdown-list__body .drop-menu__item {
  display: block;
  margin: 0 auto;
  padding: 8px 16px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  font-style: normal;
  width: 100%;
  height: auto;
  background: #FFFFFF;
  color: #19191D;
  transition: all 100ms ease;
  -webkit-transition: all 100ms ease;
  -moz-transition: all 100ms ease;
  cursor: pointer;
}
.dropdown-list.is-open .dropdown-list__body .drop-menu__item:hover {
  background: #EBF2FF;
}

.password-icon {
  position: absolute;
  right: 16px;
  top: 15px;
  bottom: auto;
  left: auto;
  z-index: 1;
  cursor: pointer;
}
.password-icon-svg {
  display: block;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 18px;
  height: 18px;
  transition: all 0.16s ease;
  -webkit-transition: all 0.16s ease;
  -moz-transition: all 0.16s ease;
  fill: none;
}
.password-icon-svg .path-first {
  fill: #B4B4BB;
}
.password-icon-svg .path-second {
  fill: #B4B4BB;
}
.password-icon.active .password-icon-svg .path-first {
  fill: #43A047;
}
.password-icon.active .password-icon-svg .path-second {
  fill: #43A047;
}

.site-content {
  display: grid;
  min-height: 100vh;
  grid-template-columns: 22.5% 77.5%;
}
.site-content .site-content-sidebar {
  display: block;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #406DB8;
  color: #FFFFFF;
}
.site-content .site-content-sidebar .site-logo {
  display: flex;
  margin: 0;
  padding: 0 120px 0 18px;
  box-sizing: border-box;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: auto;
  background: inherit;
  color: inherit;
  min-height: 44px;
  position: relative;
}
.site-content .site-content-sidebar .site-logo__icon {
  display: block;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 29px;
  height: 13px;
  max-width: 137px;
}
.site-content .site-content-sidebar .site-navigation {
  display: block;
  margin: 40px 0 40px auto;
  padding: 0 20px 0 0;
  box-sizing: border-box;
  background: #406DB8;
}
.site-content .site-content-sidebar .site-navigation .nav-list {
  display: block;
  margin: 0 0 0 auto;
  padding: 0;
  box-sizing: border-box;
}
.site-content .site-content-sidebar .site-navigation .nav-list__item {
  display: flex;
  margin: 0;
  padding: 0 9px;
  box-sizing: border-box;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: auto;
  transition: all 160ms linear;
  -webkit-transition: all 160ms linear;
  -moz-transition: all 160ms linear;
  border-radius: 0 20px 20px 0;
}
.site-content .site-content-sidebar .site-navigation .nav-list__item .link {
  padding: 8px 0 6px;
  max-width: 118px;
}
.site-content .site-content-sidebar .site-navigation .nav-list__item.active {
  width: 100%;
  height: auto;
  background: #FFFFFF;
  color: #406DB8;
}
.site-content .site-content-sidebar .site-navigation .nav-list__item.active .link {
  background: transparent;
  color: #406DB8;
}
.site-content .site-content-sidebar .site-navigation .nav-list__item.multiline .submenu {
  width: 100%;
  height: auto;
  transition: all 0.16s ease;
  -webkit-transition: all 0.16s ease;
  -moz-transition: all 0.16s ease;
  max-width: 118px;
}
.site-content .site-content-sidebar .site-navigation .nav-list__item.multiline .submenu__title {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  font-style: normal;
  letter-spacing: 0.44px;
  color: #FFFFFF;
  padding: 8px 0 6px;
  cursor: pointer;
}
.site-content .site-content-sidebar .site-navigation .nav-list__item.multiline .submenu__title .icon {
  display: inline-block;
  transition: all 0.16s ease;
  -webkit-transition: all 0.16s ease;
  -moz-transition: all 0.16s ease;
  margin-left: 6px;
  transform: rotate(0);
}
.site-content .site-content-sidebar .site-navigation .nav-list__item.multiline .submenu__title .icon svg path {
  stroke: #FFFFFF;
}
.site-content .site-content-sidebar .site-navigation .nav-list__item.multiline .submenu .list-submenu {
  transition: all 0.16s ease;
  -webkit-transition: all 0.16s ease;
  -moz-transition: all 0.16s ease;
  display: block;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: pointer;
  max-width: 118px;
  overflow: hidden;
  max-height: 66px;
  min-height: 0;
  height: 0;
}
.site-content .site-content-sidebar .site-navigation .nav-list__item.multiline .submenu .list-submenu__item {
  padding-left: 8px;
}
.site-content .site-content-sidebar .site-navigation .nav-list__item.multiline .submenu .list-submenu__item .link {
  position: relative;
}
.site-content .site-content-sidebar .site-navigation .nav-list__item.multiline .submenu .list-submenu__item .link::before {
  content: "";
  display: block;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 0%;
  height: 1.5px;
  transition: all 0.16s ease;
  -webkit-transition: all 0.16s ease;
  -moz-transition: all 0.16s ease;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: auto;
  z-index: 1;
  background: #FFFFFF;
}
.site-content .site-content-sidebar .site-navigation .nav-list__item.multiline .submenu .list-submenu__item .link:hover::before {
  width: 60%;
  height: 1.5px;
}
.site-content .site-content-sidebar .site-navigation .nav-list__item.multiline.active {
  background: #FFFFFF;
}
.site-content .site-content-sidebar .site-navigation .nav-list__item.multiline.active .submenu__title {
  color: #406DB8;
}
.site-content .site-content-sidebar .site-navigation .nav-list__item.multiline.active .submenu__title .icon {
  display: inline-block;
  margin-left: 6px;
}
.site-content .site-content-sidebar .site-navigation .nav-list__item.multiline.active .submenu__title .icon svg path {
  stroke: #406DB8;
}
.site-content .site-content-sidebar .site-navigation .nav-list__item.multiline.active .submenu .list-submenu__item .link {
  position: relative;
}
.site-content .site-content-sidebar .site-navigation .nav-list__item.multiline.active .submenu .list-submenu__item .link::before {
  content: "";
  display: block;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 0%;
  height: 1.5px;
  transition: all 0.16s ease;
  -webkit-transition: all 0.16s ease;
  -moz-transition: all 0.16s ease;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: auto;
  z-index: 1;
  background: #406DB8;
}
.site-content .site-content-sidebar .site-navigation .nav-list__item.multiline.active .submenu .list-submenu__item .link:hover::before {
  width: 60%;
  height: 1.5px;
}
.site-content .site-content-sidebar .site-navigation .nav-list__item.multiline:hover .submenu {
  max-width: 118px;
}
.site-content .site-content-sidebar .site-navigation .nav-list__item.multiline:hover .submenu__title .icon {
  display: inline-block;
  transform: rotate(180deg);
}
.site-content .site-content-sidebar .site-navigation .nav-list__item.multiline:hover .submenu .list-submenu {
  transition: all 0.16s ease;
  -webkit-transition: all 0.16s ease;
  -moz-transition: all 0.16s ease;
  overflow: hidden;
  max-height: 69px;
  min-height: 0;
  height: 69px;
}
.site-content .site-content-main {
  display: block;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #EFF3FA;
  color: #FFFFFF;
}
.site-content .site-content-main .site-header {
  display: flex;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: auto;
  background: #FFFFFF;
  color: #2979FF;
  min-height: 44px;
  box-shadow: -3px 4px 14px rgba(0, 0, 0, 0.07);
}
.site-content .site-content-main .site-header .container-header {
  display: flex;
  margin: 0;
  padding: 0 15px;
  box-sizing: border-box;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 100%;
  max-width: 1008px;
}
.site-content .site-content-main .site-header .container-header .user-logout {
  display: flex;
  margin: 0 19px 0 0;
  padding: 9px;
  box-sizing: border-box;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 100%;
  position: relative;
  min-height: 44px;
  background: #2979FF;
  cursor: pointer;
}
.site-content .site-content-main .site-header .container-header .user-logout .user-name {
  display: block;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 10px;
  line-height: 12px;
  font-style: normal;
  color: #FFFFFF;
  letter-spacing: 0.1px;
}
.site-content .site-content-main .site-header .container-header .user-logout .arrow {
  display: block;
  margin: 0 7px 0 4px;
}
.site-content .site-content-main .site-header .container-header .user-logout .icon {
  display: block;
  margin-bottom: 3px;
}
.site-content .site-content-main .site-header .container-header .user-logout .submenu {
  display: none;
  margin: 0 19px 0 0;
  padding: 9px;
  box-sizing: border-box;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80px;
  height: 100%;
  transition: all 0.16s ease;
  -webkit-transition: all 0.16s ease;
  -moz-transition: all 0.16s ease;
  position: absolute;
  top: 108%;
  left: 0;
  right: 0;
  bottom: auto;
  z-index: 1;
  background: #2979FF;
  cursor: pointer;
  text-decoration: none;
}
.site-content .site-content-main .site-header .container-header .user-logout .submenu__user-name {
  display: block;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 10px;
  line-height: 12px;
  font-style: normal;
  color: #FFFFFF;
  letter-spacing: 0.1px;
}
.site-content .site-content-main .site-header .container-header .user-logout .submenu .triangle {
  width: 8px;
  height: 8px;
  fill: none;
  position: absolute;
  top: -3px;
  bottom: auto;
  right: 12px;
  left: auto;
  z-index: 1;
}
.site-content .site-content-main .site-header .container-header .user-logout .submenu .triangle rect {
  transition: all 0.16s ease;
  -webkit-transition: all 0.16s ease;
  -moz-transition: all 0.16s ease;
  fill: #2979FF;
}
.site-content .site-content-main .site-header .container-header .user-logout .submenu:hover {
  background: #406DB8;
}
.site-content .site-content-main .site-header .container-header .user-logout .submenu:hover .triangle rect {
  fill: #406DB8;
}
.site-content .site-content-main .site-header .container-header .user-logout.is-open .submenu {
  display: flex;
}
.site-content .site-content-main .site-header .container-header .create-a-project {
  display: flex;
  margin: 0 18px 0 0;
  padding: 0;
  box-sizing: border-box;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: auto;
  height: auto;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 10px;
  line-height: 12px;
  font-style: normal;
  letter-spacing: 0.1px;
  color: #406DB8;
  text-decoration: none;
}
.site-content .site-content-main .site-header .container-header .create-a-project span {
  margin-right: 6px;
}
.site-content .site-content-main .site-header .container-header .reminder {
  position: relative;
  cursor: pointer;
}
.site-content .site-content-main .site-header .container-header .reminder .messages-counter {
  display: flex;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #FF594F;
  color: #FFFFFF;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 7px;
  line-height: 7px;
  font-style: normal;
  text-decoration: none;
  letter-spacing: 0.1px;
  text-align: center;
  position: absolute;
  left: auto;
  right: -9px;
  top: -6px;
  bottom: auto;
  z-index: 2;
}
.site-content .site-content-main .site-header .container-header .reminder-menu {
  display: none;
  margin: 0;
  padding: 15px;
  box-sizing: border-box;
  width: 251px;
  height: auto;
  background: #FFFFFF;
  color: #787885;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 16px;
  font-style: normal;
  box-shadow: -3px 4px 14px rgba(0, 0, 0, 0.07);
  border-radius: 2px;
  cursor: default;
  position: absolute;
  left: auto;
  right: -15px;
  bottom: auto;
  top: 148%;
  z-index: 50;
  max-height: 400px;
  overflow-y: auto;
}
.site-content .site-content-main .site-header .container-header .reminder-menu::-webkit-scrollbar-track {
  border-radius: 4px;
  background: #EBF2FF;
}
.site-content .site-content-main .site-header .container-header .reminder-menu::-webkit-scrollbar {
  width: 6px;
}
.site-content .site-content-main .site-header .container-header .reminder-menu::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: #2979FF;
}
.site-content .site-content-main .site-header .container-header .reminder-menu:hover::-webkit-scrollbar-thumb {
  background: #2979FF;
}
.site-content .site-content-main .site-header .container-header .reminder-menu__item {
  display: block;
  margin: 0 0 0 auto;
  padding: 12px 0;
  box-sizing: border-box;
  border-bottom: 1px solid #E6E6E6;
}
.site-content .site-content-main .site-header .container-header .reminder-menu__item p {
  font: inherit;
  color: inherit;
}
.site-content .site-content-main .site-header .container-header .reminder-menu__item a {
  font: inherit;
  color: #2979FF;
  text-decoration: none;
}
.site-content .site-content-main .site-header .container-header .reminder-menu__item a:hover {
  text-decoration: underline;
}
.site-content .site-content-main .site-header .container-header .reminder.is-open .reminder-menu {
  display: block;
}
.site-content .site-content-main .content-body {
  display: block;
  margin: 0;
  padding: 20px;
  box-sizing: border-box;
  width: 100%;
  height: auto;
  max-width: 968px;
}

.pop-up-blur {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
}
.pop-up-blur.active {
  display: block;
  animation: fadeInBlur 200ms linear forwards 200ms;
}

.pop-up-window {
  display: none;
  margin: 0 auto;
  padding: 24px;
  box-sizing: border-box;
  width: 100%;
  height: auto;
  background: #FFFFFF;
  color: #19191D;
  max-width: 400px;
  box-shadow: -3px 4px 14px rgba(0, 0, 0, 0.07);
  border-radius: 6px;
  position: fixed;
  left: 50%;
  top: 30%;
  right: auto;
  bottom: auto;
  z-index: 110;
  transform: translate(-50%, -50%) scale(0);
}
.pop-up-window.active {
  display: block;
  animation: fadeInWindow 100ms linear 500ms forwards;
}
.pop-up-window-close {
  transition: all 0.16s ease;
  -webkit-transition: all 0.16s ease;
  -moz-transition: all 0.16s ease;
  cursor: pointer;
  outline: none;
  box-shadow: none;
  background: transparent;
  border: none;
  position: absolute;
  right: 16px;
  top: 16px;
}
.pop-up-window-close svg {
  display: block;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 32px;
  height: 30px;
}
.pop-up-window-close svg path {
  stroke: #B9B9BE;
}
.pop-up-window-close:hover svg path {
  stroke: #19191D;
}
.pop-up-window__title {
  display: block;
  margin: 0 auto;
  padding: 24px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  font-style: normal;
  letter-spacing: 0.44px;
  color: #19191D;
  text-align: center;
}
.pop-up-window__buttons {
  display: flex;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.pop-up-window__buttons .btn {
  display: flex;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 144px;
  height: 42px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  font-style: normal;
  background: #2979FF;
  color: #FFFFFF;
  letter-spacing: 0.1px;
  text-align: center;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  border: none;
}
.pop-up-window__buttons .btn-yes:hover {
  background: #406DB8;
}
.pop-up-window__buttons .btn-yes:active {
  background: #2979FF;
}
.pop-up-window__buttons .btn-no {
  background: #FF594F;
}
.pop-up-window__buttons .btn-no:hover {
  background: #f53551;
}
.pop-up-window__buttons .btn-no:active {
  background: #FF594F;
}

@keyframes fadeInBlur {
  from {
    opacity: 0;
    transform: scale(1);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes fadeInWindow {
  from {
    opacity: 0;
    transform: translate(-50%, -50%) scale(1);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}
.add-new-posting {
  margin-bottom: 35px;
}
.add-new-posting__title {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #F2F2F2;
}
.add-new-posting__form .form-title {
  display: block;
  margin: 0 0 10px;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  font-style: normal;
  width: 100%;
  height: auto;
  color: #646464;
  letter-spacing: 0.44px;
}
.add-new-posting__form .form-wrapper {
  display: flex;
  margin: 0 auto 20px;
  padding: 0;
  box-sizing: border-box;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
.add-new-posting__form .form-select {
  margin-right: 20px;
}
.add-new-posting__form .form-label {
  position: relative;
}
.add-new-posting__form .form-label.address, .add-new-posting__form .form-label.login {
  width: 100%;
  height: 48px;
  min-width: 252px;
  max-width: 354px;
}
.add-new-posting__form .form-label.login {
  margin-right: 20px;
}
.add-new-posting__form .form-input {
  width: 100%;
  height: 100%;
  margin-left: 0;
  min-width: 252px;
  max-width: 354px;
}
.add-new-posting__form .form-input::placeholder {
  color: #787885;
}
.add-new-posting__form .form-input:hover {
  border: 1px solid #2979FF;
}
.add-new-posting__form .form-input:focus {
  outline: none;
  box-shadow: 0px 0px 16px rgba(41, 121, 255, 0.24), 0px 0px 4px rgba(41, 121, 255, 0.48);
  border: 1px solid #2979FF;
}
.add-new-posting__form .user-submit-wrap {
  width: 144px;
  height: 42px;
  display: block;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
}
.add-new-posting__form .user-submit-wrap .loader-circle {
  position: absolute;
  right: -36px;
  top: -2px;
  bottom: auto;
  left: auto;
  z-index: 2;
}
.add-new-posting__form .posting-submit-wrap {
  margin-top: 4px;
  width: 144px;
  height: 42px;
  transition: all 0.16s ease;
  -webkit-transition: all 0.16s ease;
  -moz-transition: all 0.16s ease;
  position: relative;
}
.add-new-posting__form .posting-submit-wrap .loader-circle {
  position: absolute;
  right: -28px;
  bottom: 18px;
  top: auto;
  left: auto;
  z-index: 2;
  opacity: 0;
}
.add-new-posting__form .posting-submit-wrap .loader-circle.active {
  opacity: 1;
}

/*# sourceMappingURL=posting.css.map */
