@charset "UTF-8";
@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.link {
  display: block;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: auto;
  background: transparent;
  color: #FFFFFF;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-style: normal;
  transition: all 0.16s ease;
  -webkit-transition: all 0.16s ease;
  -moz-transition: all 0.16s ease;
  text-decoration: none;
  cursor: pointer;
  letter-spacing: 0.44px;
}

.title {
  display: block;
  margin: 0 0 15px;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  font-style: normal;
  color: #000000;
  letter-spacing: 0.44px;
}

.label-title {
  display: block;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: auto;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 13px;
  font-style: normal;
  transition: all 0.16s ease;
  -webkit-transition: all 0.16s ease;
  -moz-transition: all 0.16s ease;
  letter-spacing: 0.1px;
  color: #2264D1;
  position: absolute;
  left: 17px;
  top: 5px;
  right: auto;
  bottom: auto;
  z-index: 1;
  transform: translateY(-5px);
  opacity: 0;
}
.on-focus.label-title {
  transform: translateY(0);
  opacity: 1;
}

.input-standard {
  display: flex;
  margin: 0 auto;
  padding: 0 16px;
  box-sizing: border-box;
  width: 100%;
  height: 48px;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background: #FFFFFF;
  color: #19191D;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  font-style: normal;
  transition: all 0.16s ease;
  -webkit-transition: all 0.16s ease;
  -moz-transition: all 0.16s ease;
  letter-spacing: 0.44px;
  border: 1px solid #B4B4BB;
  border-radius: 6px;
  outline: none;
}
.input-standard:hover {
  border: 1px solid #2979FF;
}
.input-standard:focus {
  border: 1px solid #2979FF;
  box-shadow: 0px 0px 16px rgba(41, 121, 255, 0.24), 0px 0px 4px rgba(41, 121, 255, 0.48);
  padding: 22px 40px 8px 16px;
}
.input-standard::placeholder {
  color: #787885;
}
.input-standard + .invalid-message {
  display: block;
  margin: 8px 0;
  padding: 0 16px;
  box-sizing: border-box;
  width: 100%;
  height: auto;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  font-style: normal;
  transition: all 0.16s ease;
  -webkit-transition: all 0.16s ease;
  -moz-transition: all 0.16s ease;
  letter-spacing: 0.4px;
  color: #FF594F;
  opacity: 0;
}
.invalid.input-standard {
  border: 1px solid #FF594F;
}
.invalid.input-standard + .invalid-message {
  opacity: 1;
}
.confirmed.input-standard {
  border: 1px solid #43A047;
}

.btn-standard {
  display: flex;
  margin: 0;
  padding: 10px 12px;
  box-sizing: border-box;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 144px;
  height: 42px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 22px;
  font-style: normal;
  background: #2979FF;
  color: #FFFFFF;
  transition: all 0.16s ease;
  -webkit-transition: all 0.16s ease;
  -moz-transition: all 0.16s ease;
  transform: translateY(0);
  box-shadow: 3px 4px 14px rgba(0, 0, 0, 0);
  letter-spacing: 0.1px;
  text-align: center;
  border-radius: 6px;
  outline: none;
  text-decoration: none;
  cursor: pointer;
  border: none;
}
.btn-standard:hover {
  box-shadow: -3px 4px 14px rgba(0, 0, 0, 0.07);
  transform: translateY(0);
  background: #406DB8;
}
.btn-standard:active {
  transition: all 40ms ease;
  -webkit-transition: all 40ms ease;
  -moz-transition: all 40ms ease;
  background: #2979FF;
  box-shadow: inset -3px 4px 14px rgba(0, 0, 0, 0.07);
  transform: translateY(0);
}
.btn-standard:disabled {
  cursor: not-allowed;
  background: #787885;
  color: #F0F0F1;
  box-shadow: 3px 4px 14px rgba(0, 0, 0, 0);
}

/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  -webkit-scroll-behavior: smooth;
  -moz-scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и li, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Ограничиваем макс. ширину изображений */
img {
  max-width: 100%;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

.loader-circle {
  transition: all 0.16s ease;
  -webkit-transition: all 0.16s ease;
  -moz-transition: all 0.16s ease;
  width: 25px;
  height: 25px;
  opacity: 0;
}
.loader-circle.active {
  opacity: 1;
}
.loader-circle .lds-roller {
  width: 100%;
  height: 100%;
  display: inline-block;
  position: relative;
  transform: scale(0.4);
}
.loader-circle .lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.loader-circle .lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #2979FF;
  margin: -4px 0 0 -4px;
}
.loader-circle .lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.loader-circle .lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.loader-circle .lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.loader-circle .lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.loader-circle .lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.loader-circle .lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.loader-circle .lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.loader-circle .lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.loader-circle .lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.loader-circle .lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.loader-circle .lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.loader-circle .lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.loader-circle .lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.loader-circle .lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.loader-circle .lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.loader-circle .lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.module-window {
  display: block;
  margin: 0;
  padding: 25px;
  box-sizing: border-box;
  background: #FFFFFF;
  color: #000000;
  width: 100%;
  height: auto;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  font-style: normal;
  box-shadow: -3px 4px 14px rgba(0, 0, 0, 0.07);
  border-radius: 2px;
}

.dropdown-list {
  display: block;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 48px;
  min-width: 234px;
  max-width: 354px;
  min-height: 48px;
  border-radius: 6px;
}
.dropdown-list__head {
  display: flex;
  margin: 0 auto;
  padding: 9px 9px 7px 16px;
  box-sizing: border-box;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  background: #FFFFFF;
  color: #19191D;
  border: 1px solid #B4B4BB;
  border-radius: 6px;
  cursor: pointer;
}
.dropdown-list__head .dropdown-title__label {
  display: block;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  font-style: normal;
  letter-spacing: 0.1px;
  color: #787885;
  position: relative;
  bottom: 3px;
}
.dropdown-list__head .dropdown-title__value {
  display: block;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  font-style: normal;
  letter-spacing: 0.44px;
  color: #19191D;
}
.dropdown-list__head .dropdown-arrow {
  display: block;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 32px;
  height: 32px;
  transition: all 0.16s ease;
  -webkit-transition: all 0.16s ease;
  -moz-transition: all 0.16s ease;
  transform: rotate(0);
}
.dropdown-list__head:hover {
  border: 1px solid #2979FF;
}
.dropdown-list__body {
  display: none;
}

.dropdown-list.is-open {
  position: relative;
}
.dropdown-list.is-open .dropdown-list__head {
  border: 1px solid #787885;
  border-bottom: none;
  box-sizing: border-box;
  border-radius: 6px 6px 0 0;
}
.dropdown-list.is-open .dropdown-list__head .dropdown-arrow {
  transform: rotate(180deg);
}
.dropdown-list.is-open .dropdown-list__body {
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  bottom: auto;
  z-index: 5;
  display: block;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: auto;
  background: #FFFFFF;
  color: #19191D;
  border-radius: 0 0 6px 6px;
  border: 1px solid #787885;
  border-top: none;
  overflow: hidden;
}
.dropdown-list.is-open .dropdown-list__body .drop-menu {
  border-radius: 0 0 6px 6px;
  max-height: 360px;
  overflow-y: auto;
}
.dropdown-list.is-open .dropdown-list__body .drop-menu::-webkit-scrollbar-track {
  border-radius: 4px;
  background: #EBF2FF;
}
.dropdown-list.is-open .dropdown-list__body .drop-menu::-webkit-scrollbar {
  width: 6px;
}
.dropdown-list.is-open .dropdown-list__body .drop-menu::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: #2979FF;
}
.dropdown-list.is-open .dropdown-list__body .drop-menu:hover::-webkit-scrollbar-thumb {
  background: #2979FF;
}
.dropdown-list.is-open .dropdown-list__body .drop-menu__item {
  display: block;
  margin: 0 auto;
  padding: 8px 16px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  font-style: normal;
  width: 100%;
  height: auto;
  background: #FFFFFF;
  color: #19191D;
  transition: all 100ms ease;
  -webkit-transition: all 100ms ease;
  -moz-transition: all 100ms ease;
  cursor: pointer;
}
.dropdown-list.is-open .dropdown-list__body .drop-menu__item:hover {
  background: #EBF2FF;
}

.site-content {
  display: grid;
  min-height: 100vh;
  grid-template-columns: 22.5% 77.5%;
}
.site-content .site-content-sidebar {
  display: block;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #406DB8;
  color: #FFFFFF;
}
.site-content .site-content-sidebar .site-logo {
  display: flex;
  margin: 0;
  padding: 0 18px;
  box-sizing: border-box;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: auto;
  background: inherit;
  color: inherit;
  min-height: 44px;
  position: relative;
}
.site-content .site-content-sidebar .site-logo__icon {
  display: block;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: auto;
  max-width: 137px;
}
.site-content .site-content-sidebar .site-navigation {
  display: block;
  margin: 40px 0 40px auto;
  padding: 0 20px 0 0;
  box-sizing: border-box;
  background: #406DB8;
}
.site-content .site-content-sidebar .site-navigation .nav-list {
  display: block;
  margin: 0 0 0 auto;
  padding: 0;
  box-sizing: border-box;
}
.site-content .site-content-sidebar .site-navigation .nav-list__item {
  display: flex;
  margin: 0;
  padding: 0 9px;
  box-sizing: border-box;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: auto;
  transition: all 160ms linear;
  -webkit-transition: all 160ms linear;
  -moz-transition: all 160ms linear;
  border-radius: 0 20px 20px 0;
}
.site-content .site-content-sidebar .site-navigation .nav-list__item .link {
  padding: 8px 0 6px;
  max-width: 118px;
}
.site-content .site-content-sidebar .site-navigation .nav-list__item.active {
  width: 100%;
  height: auto;
  background: #FFFFFF;
  color: #406DB8;
}
.site-content .site-content-sidebar .site-navigation .nav-list__item.active .link {
  background: transparent;
  color: #406DB8;
}
.site-content .site-content-main {
  display: block;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #EFF3FA;
  color: #FFFFFF;
}
.site-content .site-content-main .site-header {
  display: block;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: auto;
  background: #FFFFFF;
  color: #2979FF;
  min-height: 44px;
  box-shadow: -3px 4px 14px rgba(0, 0, 0, 0.07);
}
.site-content .site-content-main .site-header .container-header {
  display: flex;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: auto;
  max-width: 978px;
}
.site-content .site-content-main .content-body {
  display: block;
  margin: 0;
  padding: 20px;
  box-sizing: border-box;
  width: 100%;
  height: auto;
  max-width: 968px;
}

.add-new-user {
  margin-bottom: 35px;
}
.add-new-user__title {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #F2F2F2;
}
.add-new-user__form .form-title {
  display: block;
  margin: 0 0 10px;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  font-style: normal;
  width: 100%;
  height: auto;
  color: #646464;
  letter-spacing: 0.44px;
}
.add-new-user__form .form-wrapper {
  display: flex;
  margin: 0 auto 20px;
  padding: 0;
  box-sizing: border-box;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
.add-new-user__form .form-label {
  position: relative;
}
.add-new-user__form .form-label.email {
  width: 100%;
  height: 48px;
  min-width: 252px;
  max-width: 359px;
  margin-right: 20px;
}
.add-new-user__form .form-input {
  width: 100%;
  height: 100%;
  margin-left: 0;
  min-width: 252px;
  max-width: 359px;
}
.add-new-user__form .form-input::placeholder {
  color: #787885;
}
.add-new-user__form .form-input:hover {
  border: 1px solid #2979FF;
}
.add-new-user__form .form-input:focus {
  outline: none;
  box-shadow: 0px 0px 16px rgba(41, 121, 255, 0.24), 0px 0px 4px rgba(41, 121, 255, 0.48);
  border: 1px solid #2979FF;
}
.add-new-user__form .user-submit-wrap {
  width: 144px;
  height: 42px;
  display: block;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
}
.add-new-user__form .user-submit-wrap .loader-circle {
  position: absolute;
  right: -36px;
  top: -2px;
  bottom: auto;
  left: auto;
  z-index: 2;
}
.add-new-user__form .form-submit {
  transition: all 0.16s ease;
  -webkit-transition: all 0.16s ease;
  -moz-transition: all 0.16s ease;
  transform: translateY(0);
}
.add-new-user__form .form-submit.invalid {
  transform: translateY(12px);
}

.all-proxies__table .table-head {
  display: flex;
  margin: 0;
  padding: 0 0 0 25px;
  box-sizing: border-box;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: #F5F6FA;
  color: #C2C5CF;
  min-height: 37px;
}
.all-proxies__table .table-head__item {
  display: block;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  font-style: normal;
  letter-spacing: 0.44px;
}
.all-proxies__table .table-head__item:first-child {
  width: 200px;
  margin-right: 94px;
}
.all-proxies__table .table-head__item:nth-child(2) {
  width: 160px;
  margin-right: 80px;
}
.all-proxies__table .table-head__item:nth-child(3) {
  width: 160px;
  margin-right: 28px;
}
.all-proxies__table .table-head__item:nth-child(4) {
  width: 53px;
  margin-right: 20px;
}
.all-proxies__table .table-head__item:nth-child(5) {
  width: 77px;
}
.all-proxies__table .table-body {
  max-height: 35vh;
  overflow-y: auto;
}
.all-proxies__table .table-body::-webkit-scrollbar-track {
  border-radius: 4px;
  background: #EBF2FF;
}
.all-proxies__table .table-body::-webkit-scrollbar {
  width: 6px;
}
.all-proxies__table .table-body::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: #2979FF;
}
.all-proxies__table .table-body:hover::-webkit-scrollbar-thumb {
  background: #2979FF;
}
.all-proxies__table .table-body__item {
  display: flex;
  margin: 0;
  padding: 12px 0 12px 25px;
  box-sizing: border-box;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
  border-bottom: 1px solid #E6E6E6;
  min-height: 36px;
}
.all-proxies__table .table-body__item .email {
  display: block;
  margin: 0 94px 0 0;
  padding: 0;
  box-sizing: border-box;
  width: 200px;
  height: auto;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  font-style: normal;
  background: transparent;
  color: #2979FF;
  letter-spacing: 0.44px;
  text-decoration: none;
}
.all-proxies__table .table-body__item .email:hover {
  text-decoration: underline;
}
.all-proxies__table .table-body__item .projects {
  display: block;
  margin: 0 80px 0 0;
  padding: 0;
  box-sizing: border-box;
  width: 160px;
  height: auto;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  font-style: normal;
  color: #000000;
  letter-spacing: 0.44px;
}
.all-proxies__table .table-body__item .status {
  display: block;
  margin: 0 28px 0 0;
  padding: 0;
  box-sizing: border-box;
  width: 160px;
  height: auto;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  font-style: normal;
  letter-spacing: 0.44px;
}
.all-proxies__table .table-body__item .status.done {
  color: #43A047;
}
.all-proxies__table .table-body__item .status.not-done {
  color: #FF594F;
}
.all-proxies__table .table-body__item .status.in-progress {
  color: #2979FF;
}
.all-proxies__table .table-body__item .edit {
  display: block;
  margin: 0 20px 0 0;
  padding: 0;
  box-sizing: border-box;
  width: 53px;
  height: auto;
}
.all-proxies__table .table-body__item .edit__icon {
  display: block;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: pointer;
}
.all-proxies__table .table-body__item .delete {
  display: block;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 77px;
  height: auto;
}
.all-proxies__table .table-body__item .delete__icon {
  display: block;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: pointer;
}

/*# sourceMappingURL=proxes.css.map */
